{% include "header.html" %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ post.image_url1 }}')">
            <div></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="post-heading">
                            <h1 class="text-light" style="color: #ffffff !important; text-shadow: 2px 2px 4px rgba(0,0,0,0.8)">{{ post.title }}</h1>
                            <h2 class="subheading">{{ post.subtitle }}</h2>
                            <span class="meta">
                                Posted by
                                <a href="{{ url_for('about_page') }}">{{ post.author }}</a>
                                on {{ post.date }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <p class="text-justify">
                            {{ post.body1 }} <br> <br>
                            <img class="container" src="{{ post.image_url2 }}" alt=""> <br> <br>
                            {{ post.body2 }} <br><br>
                            {{ post.body3 }} <br> <br>
                           <img class="container" src="{{ post.image_url3 }}" alt=""> <br> <br>
                            {{ post.body4 }} <br><br>
                            {{ post.body5 }} <br>
                        </p>
                    </div>
                </div>
            </div>
        </article>

    <hr>
 {% include "footer.html" %}